<div class="container">
    <% if ('admin' == userType){%>
        <div class="card">
            <h2>Nuevo Administrador</h2>
            <%- include('_form') %>
        </div>
        
	<% }%>
</div>
