<h2><%= topic.name %></h2>

<div class="container">
    <div class="card">
        <h3>Descripción</h3>
        <p><%= topic.description %></p>
    </div>
</div>

<a class="button" href="<%= topicsListPath %>">Temas</a>