<div id="home-constituent">
    <div class="grid-two-home">
        <div class="grid-two-home-vertical">
            Explora los diferentes constituyentes que se encuentran en nuestro sitio, podrás seguirlos para recibir notificaciones, ver la información que exponen, como también hacerles preguntas y dejar comentarios en su muro de publicaciones.
            <div>
              <a class="button-home-constituent" href="<%= constituentsList %>"> Conoce a los constituyentes </a>  
            </div>   
        </div>
        <div class="home-text">
            "DCConstituyo ha revolucionado mi forma de comunicarme con otras personas acerca de política, es posible establecer un dialogo con ellas de manera efectiva y directa, sin distracciones que proporcionan otras populares redes sociales.
            Además brinda acceso a toda la información acerca de los distintos temas y sus posturas, donde puedo comparar lo que apoyan los distintos constituyentes fácilmente y así generarme una idea clara de manera eficaz." (José Miguel, 2020)
        </div> 
    </div>
</div>
<div id="home-topic">
    <div class="grid-two-home">
        <div class="home-text-topic">
            "Las personas nacen libres e iguales en dignidad y derechos. La familia es el núcleo fundamental de la sociedad. El Estado reconoce y ampara a los grupos intermedios a través de los cuales se organiza y estructura la sociedad y les garantiza la adecuada autonomía para cumplir sus propios fines específicos. El Estado está al servicio de la persona humana y su finalidad es promover el bien común(...)"
        </div>
        <div class="grid-two-topic-vertical">
            ¿Habías leído antes esto? Así parte la constitución actual de nuestro país
            ¡Infórmate con nosotros y ve qué cosas te gustaría cambiar o mantener!
            <div>
              <a class="button-home-constituent" href="<%= topicsList %>"> Infórmate de los temas </a>  
            </div>   
        </div>
    </div>
</div>
<div id="home-separator">
</div>
