<img id="banner" src= "<%= assetPath('landingbanner.png') %>" alt="Bienvenido a DCConstituyo">
<div class="container">
    <p id="welcome">Descubre y conecta con otros constituyentes</p>
    <div class="gridtwo">
        <div class="grid-item">
            <div class="card">
                <p>Se descubierto por votantes</p>
                <a class="button" href="<%= newConstituentPath %>">Registrarse como constituyente</a>
            </div>
        </div>
    
        <div class="grid-item">
            <div class="card">
                <p>Informate sobre constituyentes actuales</p>
                <a class="button" href="<%= newVoterPath %>">Registrarse como votante</a>
            </div>
        </div>
    </div>    
</div>
