<div style="background-color:black;padding:5%;">
    <h1 style="color:white;text-align:center;font-size:200%;">Actividad en DCConstituyo</h1>
</div>
<div style="padding:5%;">
    <p style="background-color:grey;padding:5%;">Se ha detectado un nuevo inicio de sesion en DCConstituyo </p>
</div>