<div style="background-color:black;padding:5%;">
    <h1 style="color:white;text-align:center;font-size:200%;">Bienvenid@ a DCConstituyo <%= user.name %>!</h1>
</div>
<div style="padding:5%;">
    <p style="background-color:grey;padding:5%;">Haz realizado un registro exitoso en DCConstituyo. Ya estas listo para navegar ideas sobre una nueva constitucion en Chile!</p>
</div>